.app-header{
  border-bottom: 1px solid gray;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.homepage{
  text-align: center;
  
}